<header>
	<div class="container" src="">
		<div id="branding">
			<img class="img-responsive" src="SG_Logo.png" />
		</div>

		<nav>
			<ul>
				<li><a href="/">Labs</a></li>
				<li><a href="/reports">Reports</a></li>
			</ul>
		</nav>
	</div>
</header>