<header>
	<div class="container" src="" >
		<div id="branding">
			<h1><span class="highlight">Sparta</span>Global</h1>
		</div>

		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/reports">Reports</a></li>
				<li class="current"><a href="/labs">Labs</a></li>
			</ul>
		</nav>
	</div>
</header>