<!DOCTYPE html>
<html>
<head>
	<meta charset=utf-8>
	<meta name=description content="">
	<meta name=viewport content="width=device-width, initial-scale=1">

	<title>Lab App</title>
	<% include partials/frameworks %>
</head>
<body>
	<% include partials/navbar %>
	<div class="container">
		<div class="jumbotron">
			<div class="container">
				<h3>Labs</h3>
				<ol class="odd">
				  <li class="hex">
				    <a href="https://github.com/spartaglobal/ExampleLab"><div class="hex-content">ExampleLab</div></a>
				  </li>
				  <li class="hex">
				  	<div class="hex-content"></div>
				  </li>
				  <li class="hex">
				  	<div class="hex-content"></div>
				  </li>
				  <li class="hex">
				    <div class="hex-content"></div>
				  </li>
				  <li class="hex">
				    <div class="hex-content"></div>
				  </li>
				</ol>
				<ol class="even">
				  <li class="hex">
				    <div class="hex-content"></div>
				  </li>
				  <li class="hex">
				  	<div class="hex-content"></div>
				  </li>
				  <li class="hex">
				  	<div class="hex-content"></div>
				  </li>
				  <li class="hex">
				    <div class="hex-content"></div>
				  </li>
				</ol>
				<ol class="odd">
				  <li class="hex">
				    <div class="hex-content"></div>
				  </li>
				  <li class="hex">
				  	<div class="hex-content"></div>
				  </li>
				  <li class="hex">
				  	<div class="hex-content"></div>
				  </li>
				  <li class="hex">
				    <div class="hex-content"></div>
				  </li>
				  <li class="hex">
				    <div class="hex-content"></div>
				  </li>
				</ol>
			</div>
		</div>
	</div>
	<footer class="footer" id="newsletter">
		<div class="container">
<!-- 			<h1><span class="highlight">Sparta</span>Global</h1>
			<p>People over Concept over Tools</p> -->
			<form>
				<div>
					<p>&copy <a href="https://www.spartaglobal.com/" target="_blank">Sparta Global 2018</a></p>
      			</div>
      		</form>
		</div>
	</footer>
</body>
</html>