<!DOCTYPE html>
<html>
<head>
	<meta charset=utf-8>
	<meta name=description content="">
	<meta name=viewport content="width=device-width, initial-scale=1">

	<title>Lab App</title>
	<% include partials/frameworks %>
</head>
<body>
	<% include partials/navbar %>
	<div class="container">
		<div class="jumbotron">
			<div class="container">
				<h3>Labs</h3>
				<ol class="odd">
				  <li class="hex">
				    <a href="https://github.com/spartaglobal/SpartaInventory"><div class="hex-content">SpartaGlobal InventoryApp</div></a>
				  </li>
				  <li class="hex">
				  	<div class="hex-content">Lab-2</div>
				  </li>
				  <li class="hex">
				  	<div class="hex-content">Lab-3</div>
				  </li>
				  <li class="hex">
				    <div class="hex-content">Lab-4</div>
				  </li>
				  <li class="hex">
				    <div class="hex-content">Lab-5</div>
				  </li>
				</ol>
				<ol class="even">
				  <li class="hex">
				    <div class="hex-content">Lab-6</div>
				  </li>
				  <li class="hex">
				  	<div class="hex-content">Lab-7</div>
				  </li>
				  <li class="hex">
				  	<div class="hex-content">Lab-8</div>
				  </li>
				  <li class="hex">
				    <div class="hex-content">Lab-9</div>
				  </li>
				</ol>
				<ol class="odd">
				  <li class="hex">
				    <div class="hex-content">Lab-10</div>
				  </li>
				  <li class="hex">
				  	<div class="hex-content">Lab-11</div>
				  </li>
				  <li class="hex">
				  	<div class="hex-content">Lab-12</div>
				  </li>
				  <li class="hex">
				    <div class="hex-content">Lab-13</div>
				  </li>
				  <li class="hex">
				    <div class="hex-content">Lab-14</div>
				  </li>
				</ol>
			</div>
		</div>
	</div>
	<div class='container'>
		<div class="jumbotron">
			<p id="platform_1">
		</div>
	</div>
	<footer id="newsletter">
			<h1>Sparta Global</h1>
			<p>People over Concept over Tools</p>
			<form>
				<div class="footer">
					<p>&copy <a href="https://www.spartaglobal.com/" target="_blank">Sparta Global 2018</a></p>
      			</div>
      		</form>
	</footer>
</body>
</html>