<!DOCTYPE html>
<html>
<head>
	<meta charset=utf-8>
	<meta name=description content="">
	<meta name=viewport content="width=device-width, initial-scale=1">

	<title>Lab App</title>
	<% include partials/frameworks %>
	<script>
          $( function() {
            $( "#accordion" ).accordion({
                collapsible: true
            });
          } );
          $( function() {
    var progressbar = $( "#progressbar" ),
      progressLabel = $( ".progress-label" );
 
    progressbar.progressbar({
      value: false,
      change: function() {
        progressLabel.text( progressbar.progressbar( "value" ) + "%" );
      },
      complete: function() {
        progressLabel.text( "Complete!" );
      }
    });
 
    function progress() {
      var val = progressbar.progressbar( "value" ) || 0;
 
      progressbar.progressbar( "value", val + 2 );
 
      if ( val < 99 ) {
        setTimeout( progress, 80 );
      }
    }
 
    setTimeout( progress, 2000 );
  } );
      </script>
</head>
<body>
	<% include partials/navbar %>
	<div class="container">
		<div class="jumbotron">
			<div class="container">
				<h3>Welcome to landing-page</h3>
				<div class="col-md-6">
				<h1>Labs</h1>
				<div id="progressbar"><div class="progress-label">Loading...</div></div>
				<div id="accordion">
			<% for (var i in results)  { %>
			<h3>
				<%= results[i].labName %>|
				<%= results[i].date %>|
				<%= results[i].time %>
			</h3>
			<div>
				<p>
					Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer
					ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit
					amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut
					odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.
				</p>
			</div>
			<% } %>
		</div>
	</div>
			</div>
		</div>
	</div>
	
<!-- 	<div class='container'>
		<div class="jumbotron">
			<p id="platform_1">
		</div>
	</div> -->
	<footer id="newsletter">
		<div class="container">
<!-- 			<h1><span class="highlight">Sparta</span>Global</h1>
			<p>People over Concept over Tools</p> -->
			<form>
				<div class="footer">
					<p>&copy <a href="https://www.spartaglobal.com/" target="_blank">Sparta Global 2018</a></p>
      			</div>
      		</form>
		</div>
	</footer>
</body>
</html>