body {
	font: 15px/1.5 Trebuchet MS, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
	background-color: #a8a8a8a8;
}

.container {
	width: 80%;
	margin: auto;
}

ul {
	margin: 0;
	padding: 0;
}

header {
	background: #111a20;
	color: #ffffff;
	padding-top: 10px;
	min-height: 70px;
	border-bottom: #f10db9 3px solid;
}

header a {
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}

header li {
	float: left;
	display: inline-flex;
	padding: 0 20px 0 20px;
}

header #branding img{
	float: left;
	max-height: 100%;
	width: 135px;
}

header nav {
	float: right;
	margin-top: 12px;
}

.highlight, header .current a {
	color: #f10db9;
	font-weight: bold;
}

header a:hover {
	color: #f10db9;
	font-weight: bold;
}

.ui-progressbar {
    position: relative;
    color:#362878;
    width:650px;
    margin-left:auto;
    margin-right:auto;
}
  .progress-label {
    position: absolute;
    left: 50%;
    top: 4px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
    margin-left:-40px;
  }

.ui-widget-header {
  border: 1px solid #E8D1CF;
  background: #C3AEE0 url("images/ui-bg_highlight-soft_75_cccccc_1x100.png") 50% 50% repeat-x;
  font-weight: bold;
  margin-left:-40px;
}

th {
    background-color: #111a20;
    color: #34beef;
}
table {
    margin-top: 50px;
}
table, th, td {
   padding: 15px;
   text-align: left;
}
tr:hover {
	background-color: #f5f5f5; color: #f10db9;
}

th, td {
    border-bottom: 1px solid #ddd;
}

#newsletter {
	overflow: hidden;
	padding: 8px;
	color: #ffffff;
	background: #111a20;
	border-top: #f10db9 3px solid;
}

#newsletter h1, p {
	float: left;
}

#newsletter form {
	float: right;
}

.footer {
	color: #f10db9;
}

ol.even {
	position: relative;
	left: 3.93455rem;
	margin-bottom: -6%;
}

ol.odd {
	position: relative;
	margin-bottom: -5.7%;
}

.hex {
	position: relative;
	margin: 1em auto;
	width: 4rem;
	height: 6.946rem;
	background: #111a20;
	transform: rotate(-90deg);
	display: inline-block;
	list-style-type: none;
	margin-right: 3.61538rem;
	transition: all 150ms ease-in-out;
	z-index: 2;
}

.hex:before, .hex:after {
	position: absolute;
	width: inherit;
	height: inherit;
	border-radius: inherit;
	background: inherit;
	content: '';
	z-index: -1;
}

.hex:before {
	transform: rotate(60deg);
}

.hex:after {
	transform: rotate(-60deg);
}

.hex:hover {
	background: #f10db9;
	cursor: pointer;
}

 .hex .hex-content {
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 11px;

	transform: translate(-50%, -50%) rotate(90deg);

	color: white;
 }