body {
	font: 15px/1.5 Trebuchet MS, Helvetica, sans-serif;
	background-color: src="https://ae01.alicdn.com/kf/HTB1Mp7LSpXXXXXaXVXXq6xXFXXXJ/3D-Modern-Geometric-Wall-Paper-Roll-for-Walls-Vinyl-Waterproof-3D-Grid-Wallpapers-PVC-Hexagon-Background.jpg_640x640.jpg";
	padding: 0;
	margin: 0;
	background-color: #a8a8a8a8;
}

.container {
	width: 80%;
	margin: auto;
	overflow: hidden;
}

ul {
	margin: 0;
	padding: 0;
}

header {
	background: #111a20;
	color: #ffffff;
	padding-top: 10px;
	min-height: 70px;
	border-bottom: #f10db9 3px solid;
}

header a {
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}

header li {
	float: left;
	display: inline-flex;
	padding: 0 20px 0 20px;
}

header #branding {
	float: left;
}

header #branding h1 {
	margin: 0;
}

header nav {
	float: right;
	margin-top: 12px;
}

header .highlight, header .current a {
	color: #f10db9;
	font-weight: bold;
}

header a:hover {
	color: #f10db9;
	font-weight: bold;
}

th {
    background-color: #111a20;
    color: #34beef;
    width: 500px;
}
table {
    margin-top: 50px;
}
table, th, td {
   padding: 15px;
   text-align: left;
}
tr:hover {
	background-color: #f5f5f5; color: #f10db9;
}

th, td {
    border-bottom: 1px solid #ddd;
}

#newsletter {
	padding: 8px;
	color: #ffffff;
	background: #111a20;
	border-top: #f10db9 3px solid;
}

#newsletter h1, p {
	float: left;
}

#newsletter form {
	float: right;
}
